In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn
from scipy.stats import poisson,skellam

In [9]:
wc18 = pd.read_excel("http://www.football-data.co.uk/internationals.xlsx")

wc18 = wc18[['Home', 'Away', 'HGFT', 'AGFT', 'HG1st', 'AG1st', 'HG2nd', 'AG2nd']]

wc18 = wc18.drop(wc18.index[[138]])

In [13]:
wc18.AGFT = pd.to_numeric(wc18.AGFT, downcast='integer')
wc18.HG1st = pd.to_numeric(wc18.HG1st, downcast='integer')
wc18.AG1st = pd.to_numeric(wc18.AG1st, downcast='integer')
wc18.HG2nd = pd.to_numeric(wc18.HG2nd, downcast='integer')
wc18.AG2nd = pd.to_numeric(wc18.AG2nd, downcast='integer')

wc18.head()

           Home           Away HGFT  AGFT  HG1st  AG1st  HG2nd  AG2nd
0         Gabon  Guinea Bissau    1     1      0      0      1      1
1  Burkina Faso       Cameroon    1     1      0      1      1      0
2       Algeria       Zimbabwe    2     2      1      2      1      0
3       Tunisia        Senegal    0     2      0      2      0      0
4   Ivory Coast           Togo    0     0      0      0      0      0