In [12]:
import datetime

def daterange( start_date, end_date ):
    if start_date <= end_date:
        for n in range( ( end_date - start_date ).days + 1 ):
            yield start_date + datetime.timedelta( n )
    else:
        for n in range( ( start_date - end_date ).days + 1 ):
            yield start_date - datetime.timedelta( n )
            
yesterday = datetime.date.today() - datetime.timedelta(days = 1)
start_date = datetime.date( year = 2018, month = 2, day = 1 )

my_dates = []

for date in daterange( start_date, yesterday ):
    my_dates.append(date.strftime('%a-%d-%m-%y'))

print(my_dates[0])

Thu-01-02-18

In [13]:
import urllib.request
from bs4 import BeautifulSoup
import pandas as pd

base_url = 'https://www.prosoccer.eu/football/'

#date = my_dates[0]

for date in my_dates:

    my_url = base_url + date
    page = urllib.request.urlopen(my_url)
    soup = BeautifulSoup(page)
    right_div=soup.find_all('div', class_='table-row')
    A=[]
    B=[]
    C=[]
    D=[]
    E=[]
    F=[]
    G=[]
    H=[]
    I=[]
    J=[]
    K=[]
    L=[]
    M=[]
    N=[]
    O=[]
    P=[]
    Q=[]

    for row in right_div:
        cells = row.findAll('div')
        if len(cells)==17:
            A.append(cells[0].find(text=True))
            B.append(cells[2].find(text=True))
            C.append(cells[3].find(text=True))
            D.append(cells[4].find(text=True))
            E.append(cells[5].find(text=True))
            F.append(cells[6].find(text=True))
            G.append(cells[7].find(text=True))
            H.append(cells[8].find(text=True))
            I.append(cells[9].find(text=True))
            J.append(cells[10].find(text=True))
            K.append(cells[11].find(text=True))
            L.append(cells[12].find(text=True))
            M.append(cells[13].find(text=True))
            N.append(cells[14].find(text=True))
            O.append(cells[15].find(text=True))
            P.append(cells[16].find(text=True))
            
    df=pd.DataFrame(A,columns=['Time'])
    df['Comp']=B
    df['Home']=C
    df['Away']=D
    df['Tip']=E
    df['H']=F
    df['D']=G
    df['A']=H
    df['1']=I
    df['X']=J
    df['2']=K
    df['U']=L
    df['O']=M
    df['U2.5']=N
    df['O2.5']=O
    df['FT']=P
    
    file_name = 'csv/' + date + '.csv'
    df.to_csv(file_name, encoding='utf-8', index=False)

/home/groninge/anaconda3/lib/python3.6/site-packages/bs4/__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file /home/groninge/anaconda3/lib/python3.6/runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

In [14]:
import pandas as pd

# cat `ls -1tr` >> ../big.csv

all = pd.read_csv('big.csv')

all.head()

,Time,Comp,Home,Away,Tip,H,D,A,1,X,2,U,O,U2.5,O2.5,FT
0,00:00,MX2,Mineros de Zacatecas,Juárez,X1,53,23,24,2.14,3.20,3.20,42,58,1.57,2.35,4 - 2
1,04:00,MX2,Dorados,Alebrijes De Oaxaca,NaN,0,0,0,,,,0,0,,,1 - 2
2,05:00,MX2,Dorados,Alebrijes de Oaxaca,X2,29,32,38,2.62,3.20,2.50,72,28,1.54,2.30,1 - 2
3,21:45,WAL1,Connah's Quay,Bala Town,1,62,18,19,,,,26,74,,,1 - 1
4,Time,Comp,Home,Away,Tip,H,D,A,1,X,2,U,O,U2.5,O2.5,FT

In [4]:
all2.get_dtype_counts()

object    16
dtype: int64

In [36]:
import numpy as np

all2 = all.copy()

all2 = all2.dropna() # drop all rows with NaN
all2 = all2.query('Time != "Time"') # drop all rows with the labels in them (from catting csv's)
all2 = all2.replace(regex={r'X1':'1X', '2X':'X2'}) # make sure all Tips are the same
all2[['HG','AG']] = all2['FT'].str.split(' - ',expand=True) # split FT score in Home Goals and Away Goals
all2= all2.drop('FT', axis=1) # drop FT column

conditions = [
    (all2['HG'] > all2['AG']),
    (all2['HG'] == all2['AG']),
    (all2['HG'] < all2['AG'])]
choices = ['1', 'X', '2']

all2['FT'] = np.select(conditions, choices)

all2

all2.to_csv('clean_data.csv', encoding='utf-8', index=False)

In [76]:
df = pd.read_csv('clean_data.csv')

df.drop(['Time', 'Comp', 'Home', 'Away', 'Tip', '1', 'X', '2', 'U2.5', 'O2.5','HG', 'AG'],1, inplace=True)

df.FT = df.FT.astype('str')

df.head()

    H   D   A   U   O FT
0  53  23  24  42  58  1
1  29  32  38  72  28  2
2  62  18  19  26  74  X
3  81  12   6  32  68  1
4  63  28   9  77  23  1

In [77]:
# Separate into feature set and target variable
#FT = Full Time Result (1=Home Win, X=Draw, 2=Away Win)
X_all = df.drop(['FT'],1)
y_all = df['FT']

# Standardising the data.
from sklearn.preprocessing import scale


cols = [['H', 'D' , 'A', 'U', 'O']]
for col in cols:
    X_all[col] = scale(X_all[col])

In [78]:
from sklearn.cross_validation import train_test_split

# Shuffle and split the dataset into training and testing set.
X_train, X_test, y_train, y_test = train_test_split(X_all, y_all, 
                                                    test_size = 50,
                                                    random_state = 2,
                                                    stratify = y_all)

In [79]:
#we want continous vars that are integers for our input data, so lets remove any categorical vars
def preprocess_features(X):
    ''' Preprocesses the football data and converts catagorical variables into dummy variables. '''
    
    # Initialize new output DataFrame
    output = pd.DataFrame(index = X.index)

    # Investigate each feature column for the data
    for col, col_data in X.iteritems():

        # If data type is categorical, convert to dummy variables
        if col_data.dtype == object:
            col_data = pd.get_dummies(col_data, prefix = col)
                    
        # Collect the revised columns
        output = output.join(col_data)
    
    return output

X_all = preprocess_features(X_all)
#print("Processed feature columns ({} total features):\n{}").format(len(X_all.columns), list(X_all.columns))

In [80]:
X_all

             H         D         A         U         O
0     0.465970 -0.325292 -0.374452 -0.564631  0.564631
1    -0.868939  0.954442  0.496457  0.992331 -0.992331
2     0.966561 -1.036256 -0.685492 -1.395010  1.395010
3     2.023364 -1.889412 -1.494194 -1.083618  1.083618
4     1.022182  0.385671 -1.307570  1.251824 -1.251824
5    -1.425151  3.656104 -0.001205  2.186001 -2.186001
6    -0.813318  0.101286  0.931912 -0.149441  0.149441
7     0.966561  0.101286 -1.120947  0.784736 -0.784736
8     0.465970  0.101286 -0.561076  0.317647 -0.317647
9     1.745258 -1.462834 -1.307570 -1.083618  1.083618
10    0.855318 -0.609678 -0.747699 -0.564631  0.564631
11    0.465970 -0.325292 -0.374452 -0.564631  0.564631
12    1.411531 -1.462834 -0.996531 -1.758301  1.758301
13   -0.201485 -0.040907  0.247626 -0.357036  0.357036
14   -0.924560  0.385671  0.869704  0.317647 -0.317647
15    0.243485  0.101286 -0.312245  0.058154 -0.058154
16   -0.535212  0.812250  0.309834  0.784736 -0.784736
17    0.465970  0.527864 -0.685492  0.784736 -0.784736
18    0.243485 -0.325292 -0.125621 -0.720327  0.720327
19    0.243485 -0.609678 -0.001205 -1.395010  1.395010
20    1.300288 -0.894063 -1.058739 -0.564631  0.564631
21    1.133424 -0.609678 -0.934323 -0.357036  0.357036
22    1.411531 -0.609678 -1.307570  0.317647 -0.317647
23    1.856500 -1.747219 -1.369778 -1.239314  1.239314
24   -1.035803 -1.036256  1.553991 -1.862098  1.862098
25   -0.423969  0.101286  0.434250 -0.149441  0.149441
26    0.076621 -0.751870  0.185418 -1.498807  1.498807
27   -0.368348  0.954442 -0.063413  0.992331 -0.992331
28   -0.813318  0.101286  0.931912 -0.149441  0.149441
29   -2.203848 -1.889412  3.295810 -0.720327  0.720327
...        ...       ...       ...       ...       ...
9105 -1.592015  2.802948  0.496457  2.030305 -2.030305
9106 -0.535212 -0.467485  0.745289 -1.083618  1.083618
9107  1.133424 -0.609678 -0.934323 -0.357036  0.357036
9108  2.301470 -2.173797 -1.680817 -0.564631  0.564631
9109  1.634015 -1.605026 -1.183154 -1.395010  1.395010
9110 -0.868939 -0.467485  1.180744 -1.083618  1.083618
9111  0.632834 -0.751870 -0.436660 -1.083618  1.083618
9112 -0.868939 -1.036256  1.367367 -1.913997  1.913997
9113 -0.813318  0.101286  0.931912 -0.149441  0.149441
9114  1.355909 -0.751870 -1.183154 -0.149441  0.149441
9115 -0.034621  0.670057 -0.250037  0.784736 -0.784736
9116  0.632834 -0.751870 -0.436660 -1.083618  1.083618
9117  0.910940 -0.467485 -0.809907 -0.149441  0.149441
9118 -0.757697  0.527864  0.620873  0.525242 -0.525242
9119  0.243485 -0.183099 -0.187829 -0.357036  0.357036
9120  0.744076  0.954442 -1.183154  1.459419 -1.459419
9121 -1.536394 -0.467485  1.927238 -0.149441  0.149441
9122 -0.257106  0.527864  0.061003  0.525242 -0.525242
9123 -0.423969  2.660755 -0.685492  1.978406 -1.978406
9124 -0.145863  0.101286  0.061003  0.006255 -0.006255
9125  0.243485 -0.183099 -0.187829 -0.357036  0.357036
9126 -0.868939 -1.036256  1.367367 -1.913997  1.913997
9127 -0.757697  0.527864  0.620873  0.525242 -0.525242
9128  0.021000 -0.183099  0.061003 -0.564631  0.564631
9129  1.856500 -0.894063 -1.680817  0.888533 -0.888533
9130  0.243485  0.101286 -0.312245  0.058154 -0.058154
9131  0.688455 -0.325292 -0.623284 -0.357036  0.357036
9132 -0.757697 -0.183099  0.931912 -0.564631  0.564631
9133 -0.312727 -0.325292  0.558665 -0.927922  0.927922
9134  2.078985 -1.747219 -1.618609 -0.149441  0.149441

[9135 rows x 5 columns]

In [90]:
#produces a prediction model in the form of an ensemble of weak prediction models, typically decision tree
import xgboost as xgb
#the outcome (dependent variable) has only a limited number of possible values. 
#Logistic Regression is used when response variable is categorical in nature.
from sklearn.linear_model import LogisticRegression
#A random forest is a meta estimator that fits a number of decision tree classifiers 
#on various sub-samples of the dataset and use averaging to improve the predictive 
#accuracy and control over-fitting.
from sklearn.ensemble import RandomForestClassifier
#a discriminative classifier formally defined by a separating hyperplane.
from sklearn.svm import SVC

#for measuring training time
from time import time 
# F1 score (also F-score or F-measure) is a measure of a test's accuracy. 
#It considers both the precision p and the recall r of the test to compute 
#the score: p is the number of correct positive results divided by the number of 
#all positive results, and r is the number of correct positive results divided by 
#the number of positive results that should have been returned. The F1 score can be 
#interpreted as a weighted average of the precision and recall, where an F1 score 
#reaches its best value at 1 and worst at 0.
from sklearn.metrics import f1_score

def train_classifier(clf, X_train, y_train):
    ''' Fits a classifier to the training data. '''
    
    # Start the clock, train the classifier, then stop the clock
    start = time()
    clf.fit(X_train, y_train)
    end = time()
    
    # Print the results
    #print("Trained model in {:.4f} seconds").format(end - start)

    
def predict_labels(clf, features, target):
    ''' Makes predictions using a fit classifier based on F1 score. '''
    
    # Start the clock, make predictions, then stop the clock
    start = time()
    y_pred = clf.predict(features)
    
    end = time()
    # Print and return results
    #print("Made predictions in {:.4f} seconds.").format(end - start)    
    
    return f1_score(target, y_pred, pos_label='1', average='micro'), sum(target == y_pred) / float(len(y_pred))


def train_predict(clf, X_train, y_train, X_test, y_test):
    ''' Train and predict using a classifer based on F1 score. '''
    
    # Indicate the classifier and the training set size
    #print("Training a {} using a training set size of {}. . .").format(clf.__class__.__name__, len(X_train))
    
    # Train the classifier
    train_classifier(clf, X_train, y_train)
    
    # Print the results of prediction for both training and testing
    f1, acc = predict_labels(clf, X_train, y_train)
    print(f1, acc)
    #print("F1 score and accuracy score for training set: {0:.4f} , {1:.4f}.").format(f1 , acc)
    
    f1, acc = predict_labels(clf, X_test, y_test)
    print(f1, acc)
    #print("F1 score and accuracy score for test set: {0:.4f} , {1:.4f}.").format(f1 , acc)

In [91]:
# Initialize the three models (XGBoost is initialized later)
clf_A = LogisticRegression(random_state = 42)
clf_B = SVC(random_state = 912, kernel='rbf')
#Boosting refers to this general problem of producing a very accurate prediction rule 
#by combining rough and moderately inaccurate rules-of-thumb
clf_C = xgb.XGBClassifier(seed = 82)

train_predict(clf_A, X_train, y_train, X_test, y_test)
print('')
train_predict(clf_B, X_train, y_train, X_test, y_test)
print('')
train_predict(clf_C, X_train, y_train, X_test, y_test)
print('')

/home/groninge/anaconda3/lib/python3.6/site-packages/sklearn/metrics/classification.py:1045: UserWarning: Note that pos_label (set to '1') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  % (pos_label, average), UserWarning)

0.47694001100715466 0.47694001100715466
0.48 0.48

0.48046230049532196 0.48046230049532196
0.46 0.46

0.48970831040176116 0.48970831040176116
0.41999999999999993 0.42

/home/groninge/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/home/groninge/anaconda3/lib/python3.6/site-packages/sklearn/metrics/classification.py:1045: UserWarning: Note that pos_label (set to '1') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  % (pos_label, average), UserWarning)
/home/groninge/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff: